* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
}

.scacchiera {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: calc(100% / 10 - 10px);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 30px;
}

.square:hover {
    color: white;
    cursor: pointer;
}